<!doctype html>
<html lang="en">
  <head>
    <title>{% block title %}  {% endblock %}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/jquery.dataTables.min.css')}}">

    <link rel="image" href="{{url_for('static', filename='images/sort_asc.png')}}">
    <link rel="image" href="{{url_for('static', filename='images/sort_desc.png')}}">
    <link rel="image" href="{{url_for('static', filename='images/sort_both.png')}}">
    <link rel="image" href="{{url_for('static', filename='images/sort_asc_disabled.png')}}">
    <link rel="image" href="{{url_for('static', filename='images/sort_desc_disabled.png')}}">
  
  </head>
  <body>
    <div class="container">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
      <div class="flash-mess alert text-center lead alert-primary">{{message}}</div>
      {% endfor %}
      {% endif %}
      {% endwith %}
      <div class="row">
          <div class="col">
              <nav class="navbar navbar-expand navbar-light bg-light">
                  <div class="nav navbar-nav">
                      <a class="text-black-50 font-weight-bold text-monospace nav-item nav-link   " href="#">Home</a> 
                      <a class="text-black-50 font-weight-bold text-monospace nav-item nav-link" href="{{url_for('admin.main_admin')}}">Admin</a>
                      <a class="text-black-50 font-weight-bold text-monospace nav-item nav-link" href="{{url_for('design.design_main')}}">Designs</a>
                      <a class="text-black-50 font-weight-bold text-monospace nav-item nav-link" href="{{url_for('design.design_print')}}">Print</a>
                      <a class="text-black-50 font-weight-bold text-monospace nav-item nav-link" href="#">Sign Out</a>
                  </div>
              </nav>
          </div>
      </div>
    
    {% block body %}

    {% endblock %}
  </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{url_for('static',filename='js/jquery-3.4.js')}}" ></script>
    <script src="{{url_for('static',filename='js/popper.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}" ></script>
    <script src="{{url_for('static', filename='js/datatables.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/Ajax/update.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.dataTables.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/tables_powered.js')}}"></script>
    <!--End of External Scripts-->

    {% block scripts %}

    {% endblock %}
  </body>
</html>