{% extends 'base.html' %}

<!-- Page Title-->
{% block title %}
Admin
{% endblock %}

<!-- Main Body-->
{% block body %}
<div class="container accordion" id="adminaccordian">
        <div class="row mt-4">
            <!--Button Group For Admin Tasks-->
            <div class="col-2">
                <h4 class="h4 text-center mb-3">Admin Master</h4>
                <div class=" btn-group-vertical w-100" role="group" aria-label="Actions">
                    <button type="button" class="btn btn-primary btn-block mb-2" data-toggle="collapse" data-target="#usertable" aria-expanded="false" >Users</button>
                    <button type="button" class="btn btn-primary btn-block mb-2 " data-toggle="collapse" data-target="#roletable" aria-expanded="false" >Roles</button>
                    <button type="button" class="btn btn-primary btn-block mb-2 " data-toggle="collapse" data-target="#designtable" aria-expanded="false">Designs</button>
                </div>
            </div>
            <!-- Accordians that Show in Button Group-->
            <div class="col-10">
                <!-- User CURD-->
                <div id="usertable" class="collapse" data-parent="#adminaccordian">
                    <div class="btn-group" role="group" aria-label="">
                        <button type="button" class="btn btn-primary btn-sm mr-2 rounded" data-toggle="modal" data-target="#CreateNewModal">Add New</button>
                        <button type="button" class="btn btn-primary btn-sm rounded ">Print</button>
                    </div>
                    
                    <table class=" table mt-4 w-100">
                        <thead class="thead-light">
                            <tr>
                                <th></th>
                                <th>Username</th>
                                <th>Role</th>
                                <th>Chnage</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                        
                        </tbody>
                    </table>
                    <!-- Modal -->
                    <div class="modal fade" id="CreateNewModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Add User</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                </div>
                                <!--Add New User Form-->
                                <form action="#" method="POST">
                                <div class="modal-body">
                                  
                                      <div class="form-group">

                                        <input type="hidden"
                                          class="form-control" name="op_id" id="operation_id" value="1">

                                        <label for="username">Username</label>

                                        <input type="text"
                                          class="form-control" name="username" id="username" placeholder="New Username">

                                        <label for="username">Password</label>

                                        <input type="password"
                                            class="form-control" name="password" id="password" placeholder="Password">

                                        
                                          <label for="roleassign">Select Role</label>

                                          <select class="form-control" name="role" id="roleassign">
                                            {% for r in roles %}
                                                <option value="{{r.role_id}}">{{r.role_name}}</option>
                                            {% endfor %}
                                          </select>
                                       
                                      </div>
                                  
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <input type="Submit" class="btn btn-primary" value="Submit">
                                </div>
                            </form>

                            </div>
                        </div>
                    </div>
                </div>
               <!-- Role CURD-->
                <div id="roletable" class="collapse" data-parent="#adminaccordian">
                    <div class="btn-group" role="group" aria-label="">
                        <button type="button" class="btn btn-primary btn-sm mr-2 rounded" data-toggle="modal" data-target="#CreateNewRole">Add New</button>
                        <button type="button" class="btn btn-primary btn-sm rounded ">Print</button>
                    </div>
                    <table class="table table-bordered table-dark table-sm mt-4 w-100 ">
                        <thead class="thead-light">
                            <tr class="text-center">
                                
                                <th class="w-25">Role ID</th>
                                <th>Role Name</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for r in roles %}
                                <tr>
                                    <td>{{r.role_id}}</td>
                                    <td>{{r.role_name}}</td>
                                    <td><form action="{{url_for('admin.role_curd')}}" method="POST">
                                        <input type="hidden" value="2" name="op_id">
                                        <input type="hidden" value="{{r.role_id}}" name="role_id">
                                        <input type="submit" class="btn btn-sm btn-danger" value="Delete">
                                    </form></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                     <!-- Modal -->
                     <div class="modal fade" id="CreateNewRole" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Add User</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                </div>
                                <!--Add New Role Form-->
                                <form action="{{url_for('admin.role_curd')}}" method="POST">
                                <div class="modal-body">
                                  
                                      <div class="form-group">
                                        <input type="hidden"
                                          class="form-control" name="op_id" id="operation_id" value="1">
                                        <label for="rolename">Role Name</label>
                                        <input type="text"
                                            class="form-control" name="role_name" id="rolename" aria-describedby="helpId" placeholder="Role Name">
                                      </div>
                                  
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <input type="Submit" class="btn btn-primary" value="Submit">
                                </div>
                            </form>

                            </div>
                        </div>
                    </div>
                </div>
               <!-- Designs CURD-->
                <div  id="designtable" class="collapse" data-parent="#adminaccordian">
                    <div class="btn-group" role="group" aria-label="">
                        <button type="button" class="btn btn-primary btn-sm mr-2 rounded">Add New</button>
                        <button type="button" class="btn btn-primary btn-sm rounded ">Print</button>
                    </div>
                    <table  class="mt-4 w-100" >
                        <thead class="thead-light">
                            <tr>
                                <th>Design Code</th>
                                <th>Design Name</th>
                                <th>Date Created</th>
                                <th>Date Edited</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for d in d_many %}
                            <tr data-id="{{d.design_code}}">
                                <td scope="row" id="code{{d.design_code}}">{{d.design_code}}</td>
                                <td id="name{{d.design_code}}">{{d.design_name}}</td>
                                <td id="date{{d.design_code}}">{{d.date_created.strftime('%d-%m-%y')}}</td>
        
                                {% if d.date_changed == None %}
                                <td></td>
                                {% else %}
                                <td>{{d.date_changed.strftime('%d-%m-%y')}}</td>
                                {% endif %}
        
                                <td> <button data-id="{{d.design_code}}" id="editBtn" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#editDesignModal">Change Name</button></td>
                                <td> <form action="{{url_for('design.design_delete')}}" method="POST">
                                    <input type="hidden" name="d_id" value="{{d.design_code}}">
                                    <input class="btn btn-warning btn-sm" type="submit" value="Delete">
                                </form></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>
</div>
{% endblock %}


<!-- Javascripts -->
{% block scripts %}

{% endblock %}