{% extends 'base.html' %}

{% block titile %}
Design Master
{% endblock %}

{% block body %}

    
    <div class="row mt-4">
        <div class="col-2">
            <h4 class="h4 text-center mb-3">Design Master</h4>
            <div class=" btn-group-vertical w-100" role="group" aria-label="Actions">
                <button type="button" class="btn btn-primary btn-block mb-2 " data-toggle="modal" data-target="#addDesignModal">+ New</button>
                
            </div>
        </div>
        <div class="col-10">
            <table id="designTable" class="mt-4 w-100">
                <thead class="thead-light">
                    <tr>
                        <th>Design Code</th>
                        <th>Design Name</th>
                        <th>Date Created</th>
                        <th>Date Edited</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                {% for d in d_many %}
                    <tr data-id="{{d.design_code}}">
                        <td scope="row" id="code{{d.design_code}}">{{d.design_code}}</td>
                        <td id="name{{d.design_code}}">{{d.design_name}}</td>
                        <td id="date{{d.design_code}}">{{d.date_created.strftime('%d-%m-%y')}}</td>

                        {% if d.date_changed == None %}
                        <td></td>
                        {% else %}
                        <td>{{d.date_changed.strftime('%d-%m-%y')}}</td>
                        {% endif %}

                        <td> <button data-id="{{d.design_code}}" id="editBtn" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#editDesignModal">Change Name</button></td>
                        <td> <form action="{{url_for('design.design_delete')}}" method="POST">
                            <input type="hidden" name="d_id" value="{{d.design_code}}">
                            <input class="btn btn-warning btn-sm" type="submit" value="Delete">
                        </form></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div>
            <!-- New Design Modal -->
            <div class="modal fade" id="addDesignModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                            <div class="modal-header">
                                    <h5 class="modal-title">Add New Design</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                               <div class="form-group">
                                 <label for="designno">Design No</label>
                                 <input type="number" name="designo" id="designo" class="form-control" placeholder="" aria-describedby="">
                               </div>
                               <div class="form-group">
                                <label for="designname">Design Name</label>
                                <input type="text" name="designame" id="designame" class="form-control" placeholder="" aria-describedby="">
                              </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button id="addDesignModalSubmit" type="button" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Button trigger modal -->
            
            <!-- Modal -->
            <div class="modal fade" id="editDesignModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Edit Design</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                        </div>
                        <div class="modal-body">
                            <form class="form" action="{{url_for('design.design_change_data')}}" method="POST">
                                <input id="d_id" type="hidden" name="d_id">
                                <div class="form-group">
                                  <label for="d_name">Change Name</label>
                                  <input type="text"
                                    class="form-control" name="d_name" id="d_name" aria-describedby="helpId" placeholder="Design Name">
                                </div>
                                <input class="btn btn-block btn-primary" type="submit">
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script text="text/javascript">
    $('#editDesignModal').on('show.bs.modal', function(e){
        var id = $(e.relatedTarget).data('id')
        var name = $('#name'+id).html()

        $(".modal-title").html('Edit Design '+ id)
        $('#d_id').val(id)
        $('#d_name').val(name)
    })
</script>
{% endblock %}