<!doctype html>
<html lang="en">
  <head>
    <title>{% block title %}  {% endblock %}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/jquery.dataTables.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/thermalpaper.css')}}">
  </head>
  <body>
    <div class="container">
    
    {% block body %}
      <p>{{d.design_code}}</p>
      <p>{{d.design_name}}</p>
    {% endblock %}
  </div>
    <!-- Optional JavaScript -->
    {% block scripts %}

    {% endblock %}
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{url_for('static',filename='js/jquery-3.4.js')}}" ></script>
    <script src="{{url_for('static',filename='js/popper.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}" ></script>
    <script src="{{url_for('static', filename='js/Ajax/update.js')}}"></script>
    <script src="{{url_for('static', filename='js/moment.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.dataTables.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/tables_powered.js')}}"></script>
  </body>
</html>